body {
    color: #484848;
    font-family: museo-sans, Lato, sans-serif;
}

.gameImage{
    size: 20em;
}

#gameLogo {
    width: auto;
    height: 35em;
    background-color: #d6f0fa;
    padding: 20px;
    text-align: center;
}

#gameImage {
    margin: auto;
}

.navi{
    text-align: center;
}

header{
    padding: 10px;
}

#logo {
    width: 8em;
 
}

#screenShots {
    width: auto;
    height: 27em;
    background-color: #d6f0fa;
    padding: 20px;
    text-align: center;
}

#ratingImage {
    width: 60px;
    position: relative;
}

#headerButton {
    display: inline-block;
    position: absolute;
    right: 0;
    
}

header {
    position: relative;
}

.head {
    padding: 10px;
    border-bottom: 2px solid #efefef;
}

#details {
    position: relative;
    width: 70%;
    margin: auto;
    padding: 70px;
    height: 20em;
    
}

#purchase {
    position: absolute;
    display:inline-block;
    right: 0;
    bottom: 5em;
}

